@import "tailwindcss";
@plugin "daisyui"{
  themes: halloween --default;
};

:root {
  --start: #4285f4;
  --end: #d96570;
  --border: #4a5050;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --color-start: var(--start);
  --color-end: var(--end);
  --color-border: var(--border);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
